@using HunterW_BugTracker.Models
@model RegisterViewModel
@{
    Layout = null;
}

<style>
	.fileUpload {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}
</style>

<!DOCTYPE html>
<html lang="en">
<head>
	<title>HW Error Tracking</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Right - Bootstrap Admin Template</title>
	<link rel="icon" type="image/png" href="~/Images/favicon.png">
	@*<link rel="apple-touch-icon-precomposed" href="img/apple-touch-favicon.png">*@
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
	<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
	<link href="~/Content/awesome-bootstrap-checkbox.css" rel="stylesheet" />
	<link href="~/Content/right.lilac.css" rel="stylesheet" />
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body class="framed">
    <div class="wrapper">
		<div class="login">
			@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "login__form", role = "form", enctype = "Multipart/form-data" }))
			{
				@Html.AntiForgeryToken()
				<div class="login__logo"></div>
				<h5 class="text-center">Register A New User</h5>
				<div class="form-group">
					@Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control", @placeholder = "Username" })
				</div>
				<div class="form-group">
					@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First Name" })
				</div>
				<div class="form-group">
					@Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name" })
				</div>
				<div class="form-group">
					@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email Address" })
				</div>
				<div class="form-group">
					@Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
				</div>
				<div class="form-group">
					@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
				</div>
				<div class="form-group text-center">
					@Html.DisplayName("Optional: Upload an Avatar")
					<input type="file" name="Avatar" id="Avatar" class="fileUpload" />
					<label for="Avatar" class="btn btn-default">Add Image</label>
					@Html.ValidationMessageFor(model => model.AvatarUrl, "", new { @class = "text-danger" })
				</div>
				<div class="form-group login__action">
					<div class="login__submit">
						<button class="btn btn-default" type="submit">Register</button>
						<input type="button" class="btn btn-default" value="Return to Login" onclick="location.href='@Url.Action("Login", "Account")'" />
					</div>
				</div>
			}
		</div>
    </div>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>