@model HunterW_BugTracker.Models.Ticket

<div class="main">
	<div class="main__scroll scrollbar-macosx">
		<div class="main__cont">
			<div class="container-fluid half-padding">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-danger">
							<div class="panel-heading">
								<h3 class="panel-title">Ticket Details</h3>
							</div>
							<div class="panel-body">
								<p>
									Below are the details of this ticket.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div>
					<dl class="dl-horizontal">
						<dt>
							@Html.DisplayName("Assigned To")
						</dt>

						<dd>
							@Html.DisplayFor(model => model.AssignedToUserId)
						</dd>

						<dt>
							@Html.DisplayName("Created By")
						</dt>

						<dd>
							@Html.DisplayFor(model => model.OwnerUser.DisplayName)
						</dd>

						<dt>
							@Html.DisplayName("Project")
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Project.Name)
						</dd>

						<dt>
							@Html.DisplayName("Priority")
						</dt>

						<dd>
							@Html.DisplayFor(model => model.TicketPriority.Name)
						</dd>

						<dt>
							@Html.DisplayName("Status")
						</dt>

						<dd>
							@Html.DisplayFor(model => model.TicketStatus.Name)
						</dd>

						<dt>
							@Html.DisplayName("Type")
						</dt>

						<dd>
							@Html.DisplayFor(model => model.TicketType.Name)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.Title)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Title)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.Description)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Description)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.Created)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Created)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.Updated)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Updated)
						</dd>

					</dl>
				</div>
				@using (Html.BeginForm("Create", "TicketComments", FormMethod.Post))
				{
					@Html.AntiForgeryToken()
					@Html.Hidden("TicketId", Model.Id)
					@Html.TextBox("CommentBody", "Leave A Comment", new { @class = "form-control" })
					<button type="submit" class="btn btn-primary text-center">Save Comment</button>
				}

				@foreach (var comment in Model.TicketComments.OrderByDescending(c => c.Created))
				{
					<hr />
					<div class="row">
						<h4>Comment from @comment.Author.DisplayName on @comment.Created.ToString("MMMM d, yy") at @comment.Created.ToString("h:mm tt")</h4>
					</div>
					<div class="row">
						<div class="col-md-12">
							@comment.CommentBody
							@if (User.Identity.IsAuthenticated)
							{
								using (Html.BeginForm("Edit", "Comments", FormMethod.Get))
								{
									@*@Html.ActionLink("Edit", "Edit")*@
									@*@Html.Hidden("slug", Model.Slug)*@
									@Html.Hidden("Id", comment.Id)
									<button type="submit" class="btn btn-primary">Edit</button>
								}
							}
						</div>
					</div>
					<hr />
				}
			</div>
		</div>
	</div>
</div>